body {
    margin: 0;
    background: black;
    font-family: Arial;
    color: white;
}

.school-title {
    text-align: center;
    padding: 30px;
}

.login-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
}

.login-box {
    background: #111;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px #333;
}

.login-box h2 {
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: black;
    border: 1px solid gray;
    color: white;
}

.login-box button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: white;
    border: none;
    cursor: pointer;
}
