body {
    margin: 0;
    font-family: Arial;
    background: black;
    color: white;
}

.navbar {
    background: #111;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-btn {
    background: #444;
    border: none;
    color: white;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 6px;
}

.filter-box {
    display: flex;
    gap: 15px;
    padding: 20px;
    justify-content: center;
}

select, button {
    padding: 10px;
    background: #1a1a1a;
    color: white;
    border: 1px solid #333;
    border-radius: 6px;
}

button {
    cursor: pointer;
}

.container {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #111;
}

th, td {
    padding: 14px;
    text-align: center;
    border-bottom: 1px solid #333;
}

th {
    background: #222;
}

tr:hover {
    background: #1c1c1c;
}
